# Python
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Media (user upload)
media/

# Environment
.env
venv/
env/

# Static build (nếu có)
staticfiles/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db